#!/bin/sh

set -eu

# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

brew_bin=/opt/homebrew/bin/brew
if [ ! -x "$brew_bin" ]; then
	printf '%s\n' 'Homebrew is required before packages can be installed.' >&2
	exit 1
fi

eval "$("$brew_bin" shellenv)"

brew bundle install --file="$HOME/.Brewfile" --no-upgrade
