[user]
	name = smnatale
  email = 66391194+smnatale@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[core]
	editor = nvim
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[branch]
  sort = -committerdate
[checkout]
	defaultRemote = origin
[fetch]
  prune = true
[rerere]
  enabled = true
[merge]
  conflictStyle = zdiff3
[delta]
    features = rose-pine
[delta "rose-pine"]
    blame-palette = "#191724 #26233a #524f67 #908caa #e0def4"
    commit-decoration-style = "box #908caa"
    dark = true
    file-decoration-style = "#908caa"
    file-style = "#e0def4"
    hunk-header-decoration-style = "box #908caa"
    hunk-header-style = "#e0def4"

    minus-empty-line-marker-style = "#191724"
    minus-line-format = "- {eb3}"
    minus-style = "syntax #2a202b"
    minus-style = "syntax #30212f"

    plus-empty-line-marker-style = "#191724"
    plus-line-format = "+ {eb3}"
    plus-style = "syntax #202b35"

    syntax-theme = "rose-pine"
