[user]
	name = smnatale
  email = 66391194+smnatale@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[core]
	editor = nvim
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[branch]
  sort = -committerdate
[checkout]
	defaultRemote = origin
[fetch]
  prune = true
[rerere]
  enabled = true
[merge]
  conflictStyle = zdiff3
[delta]
	syntax-theme = Catppuccin Mocha
